$TTL 14400
@       IN      SOA     au-team.irpo. root.au-team.irpo. (
                                    2          ; Serial
                               604800          ; Refresh
                                86400          ; Retry
                              2419200          ; Expire
                               604800 )        ; Negative Cache TTL
;
@       IN      NS      au-team.irpo.
@       IN      A       192.168.1.2
HQ-SRV  IN      A       192.168.1.2
BR-RTR  IN      A       192.168.3.1
HQ-CLI  IN      A       192.168.2.2
BR-SRV  IN      A       192.168.3.2
HQ-RTR  IN      A       192.168.1.1

