$TTL 14400
@       IN      SOA     au-team.irpo. root.au-team.irpo. (
                                  2          ; Serial
                             604800          ; Refresh
                              86400          ; Retry
                            2419200          ; Expire
                             604800 )        ; Negative Cache TTL

        IN      NS      au-team.irpo.

2.2     IN      PTR     HQ-CLI.au-team.irpo.
